.PageTitle {
    width: 100%;
    text-align: center;
}

.PageTitle__header {
    font-size: 38px;
    line-height: 38px;
    font-weight: bold;
    text-transform: uppercase;
}

.PageTitle__description {
    margin-top: 12px;
    font-family: "Merriweather", "Times New Roman", serif;
    font-size: 18px;
    line-height: 18px;
    font-weight: 400;
    text-transform: uppercase;
}
