.MemberInfo {
    display: inline-block;
    margin-top: 10px;
    position: relative;
}

.MemberInfo .MemberInfo__image {

}

.MemberInfo .MemberInfo__description {
    visibility: hidden;
    position: absolute;
    width: 335px;
    height: 241px;
    margin: 15px;
    bottom: 0;
    z-index: 10;
    background-color: #71f5ea;
    box-shadow: 2px 6px 8px rgba(20, 20, 21, 0.18);
    transition: visibility 0.3s ease-in;
}

.MemberInfo:hover .MemberInfo__description {
    visibility: visible;
}

.MemberInfo .MemberInfo__description:before {
    content: "";
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    top: -42px;
    left: 21px;
    border-top: 21px solid transparent;
    border-right: 11px solid transparent;
    border-bottom: 21px solid #71f5ea;
    border-left: 11px solid transparent;
    z-index: 1;
}

