.Address {
    position: relative;
    width: 500px;
    height: 462px;
    padding: 36px 24px 24px 24px;
    background-color: rgba(2, 22, 35, 0.71);
}

.Address .Address__fields {
    display: block;
    margin-bottom: 22px;
}
